.navbar-brand {
  font-weight: bold;
  color: #007bff !important;
}

.nav-link {
  color: #555 !important;
  transition: color 0.3s;
}

.nav-link.active {
  color: #007bff !important;
}

.nav-link:hover {
  color: #0056b3 !important;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}
